<h1>Edit Sponsored Post</h1>

<div class="row">
  <div class="col-md-4">
    <p>Guidelines for sponsored posts</p>
    <ul>
      <li>Cannot advertise cigarettes.</li>
      <li>Anything to do with waffles is highly encouraged.</li>
      <li>Use appropriate discretion.</li>
    </ul>
  </div>
  <div class="col-md-8">
    <%= form_for [@sponsored_post.topic, @sponsored_post] do |sp| %>
      <div class="form-group">
        <%= sp.label :title %>
        <%= sp.text_field :title, class: 'form-control', placeholder: "Enter post title" %>
      </div>
      <div class="form-group">
        <%= sp.label :body %>
        <%= sp.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter post body" %>
      </div>
      <div class="form-group">
        <%= sp.label :price %>
        <%= sp.number_field :price, class: 'form-control', placeholder: "Enter price" %>
      </div>
      <div class="form-group">
        <%= sp.submit "Save", class: 'btn btn-success' %>
      </div>
    <% end %>
  </div>
</div>
